<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <b>Contact</b> <br>fzhao956@ustc.edu.cn<br>lovesnow@mail.ustc.edu.cn
		  <!-- Address: 安徽省合肥市蜀山区中国科学技术大学信息学院自动化系 -->
    </div>
		<div class="col-sm-4">
    
    </div>
		<div class="col-sm-4">
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
